* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a:link,a:visited{
    text-decoration: none;
}
html,body{height: 100%;}
body{display: flex;justify-content: center;align-items: center;flex-direction: column;}